#root {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 800px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.header__title {
    color: navy;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labeled-input {
    display: flex;
    flex-direction: column;
}

.medal-list {
    width: 100%;
    border-radius: 4px;
}

.medal-list__row {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(200, 229, 247);
    padding: 1px;
}

.medal-list__col {
    width: 20%;
    text-align: center;
}

.sort-option {
    margin-left: auto;
}

.medal-list__head {
    background-color: navy;
    color: white;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
}

label {
    text-align: center;
    font-weight: bold;
}

input {
    height: 20px;
}

input[type=number] {
    text-align: right;
}

.btn {
    height: 30px;
    width: 50px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn_large {
    width: 60px;
    height: 40px;
    background-color: rgb(249, 249, 40);
}

.btn_delete {
    background-color: #c04646;
    color: white;
}