#root {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.header__form {
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
}

.labeled-input {
    display: flex;
    flex-direction: column;
}

.medal-list {
    width: 100%;
    background-color: brown;
}

.medal-list__row {
    display: flex;
    width: 100%;
}

.medal-list__col {
    width: 20%;
}