#root {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 800px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.header__form {
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
}

.labeled-input {
    display: flex;
    flex-direction: column;
}

.medal-list {
    width: 100%;
    background-color: brown;
}

.medal-list__row {
    display: flex;
    width: 100%;
}

.medal-list__col {
    width: 20%;
    text-align: center;
}

.sort-option {
    margin-left: auto;
}


/* select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #2ecc71;
    color: #fff;
    border: 1px solid crimson;
    padding: 4px;
    border-radius: 9px;
} */